h1 {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  margin: 8px 0 0 31px;
}

.item {
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 4px 22px -6px rgba(6, 5, 50, 0.20);
  margin: 30px 10px 30px 10px;
  width: 267px;
  height: 72px;
  display: flex;
  padding: 16px 16px 16px 24px;
}

.tui-island__title, .tui-island__content {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.tui-island__title {
  margin: 0 0 3px 0;
}

.tui-island__content {
  font-size: 14px;
}

.last-orders-img {
  cursor: pointer;
}

.text-container {
  margin: auto 0 auto 18px;
  cursor: pointer;
}
