.cart {
  width: 236px;
  min-height: 134px;
  height: content-box;
  background: #FFFFFF;
  box-shadow: 0 4px 22px -6px rgba(6, 5, 50, 0.25);
  border-radius: 16px;
  padding: 27px 34px 14px 34px;

  font-family: 'Inter', serif;
  font-style: normal;
}

.header {
  display: flex;
}

.header img {
  margin: 0 4px 0 0;
}

p {
  margin: 0;
}

.help {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #8F8F8F;
  margin: 33px 0 26px 0;
  text-align: center;
}

.products {
  max-height: 330px;
  overflow-y: scroll;
}

.products::-webkit-scrollbar {
  width: 0;
}

.cart-name {
  font-size: 22px;
  line-height: 32px;
  color: #5C434D;
  margin: 0;
}

.product-name {
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  margin: 0 0 0 12px;
}

.description {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #8F8F8F;
  margin: 0 0 0 15px;
}

.sum-container, .product, .count-control {
  display: flex;
}

.products {
  margin: 36px 0 0 0;
}

.product {
  margin: 0 0 25px 0;
}

.products .product:last-child {
  margin-bottom: 0;
}

.count-control {
  margin: 9px 0 0 0;
}

.plus, .minus {
  border: none;
  background-color: #FFF1D6;
  cursor: pointer;
  width: 21px;
  height: 21px;
  border-radius: 100px;
}

.minus {
  margin: 0 8px 0 12px;
}

.plus {
  margin: 0 0 0 8px;
}

.plus:hover, .minus:hover {
  background-color: #F4DCAE;
}

.plus:active, .minus:active {
  background-color: #FFF8EA;
  color: #CBAA6B;
}

.this-products-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  margin: 0 2px 0 auto;
}

.sum-container {
  margin: 25px 0 0 0;
}

.sum-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin: 2px 0 0 0;
}

.sum {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin: 0 0 0 auto;
}

.order-button {
  padding: 8px 30px 8px 30px;
  background: #FFF1D6;
  border-radius: 9999px;
  width: 139px;
  height: 40px;
  border: none;
  cursor: pointer;
  margin: 25px auto 0 auto;
  display: block;

  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #9B7327;
}

.order-button:hover {
  background: #F4DCAE;
}

.order-button:active {
  background: #FFF8EA;
  color: #CBAA6B;
}
