<div class="media">
  <header>
    <img class="logo" src="assets/img/logo_group.svg" alt="logo" width="207" height="61">
    <a class="account-icon" href="#">
      <img src="assets/img/account.svg" alt="account" width="28" height="28">
    </a>
  </header>
  <nav>
    <a href="#">
      Пицца
    </a>
    <a href="#">
      Комбо
    </a>
    <a href="#">
      Напитки
    </a>
    <a href="#">
      Десерты
    </a>
    <a href="#">
      Акции
    </a>
    <a href="#">
      О нас
    </a>
    <a href="#">
      Контакты
    </a>
    <a href="#">
      Игра
    </a>
  </nav>
</div>
