.media {
  width: min(1306px, calc(100% - 30px));
  margin: 0 auto 0 auto;
  padding: 0 15px 0 15px;
}

.promo-cart-container {
  position: sticky;
  z-index: 1000;
  top: 150px;
  margin: 72px 0 0 70px;
}

app-navigation {
  position: sticky;
  z-index: 1000;
  top: 0;
}

app-shopping-cart, app-promocode-field, .promo-cart-container {
  display: inline-block;
  width: 304px;
}

.promo-cart-container {
  vertical-align: top;
}
