<div class="container">
  <div class="modal-container">
    <div class="delivery-method">
      <button class="delivery-button" [class.selected-method-button]="isDeliverySelected"
              (click)="changeDeliveryMethod()">
        Доставка
      </button>
      <button class="pickup-button" [class.selected-method-button]="!isDeliverySelected"
              (click)="changeDeliveryMethod()">
        Самовывоз
      </button>
    </div>
    <div class="details">
      <div class="order-header">
        <form class="phone-group">
          <label for="phone"> Телефон</label>
          <input id="phone" type="tel" placeholder="89920102299" class="phone-input" disabled>
        </form>
        <div class="promo-code-container">
          <form class="promo-code-group" [formGroup]="promoCodeFormGroup">
            <input id="promo-code" type="text" placeholder="Введите промокод" class="promo-code-input"
                   formControlName="promoCode">
          </form>
          <button class="promo-code-button" [disabled]="promoCodeFormGroup.invalid">
            Применить
          </button>
        </div>
      </div>
      <div *ngIf="isDeliverySelected" class="delivery-details">
      </div>
      <div *ngIf="!isDeliverySelected" class="pickup-details">
      </div>
    </div>
  </div>
  <div class="shadow">

  </div>
</div>
