.filter-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 78px 0;
}

p, .filter-button-name {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}

p {
  color: #8F8F8F;
  margin: auto 53px auto 0;
}

.filter-button-name {
  color: #5C434D;
}

.filter-button {
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #C5BABE;
  border-radius: 9999px;
  padding: 8px 30px 8px 31px;
  margin: 0 20px 0 0;
}

.filter-button:hover {
  background: #E7DEE1;
}

.filter-button:active {
  background: #C5BABE;
}

.sort-button {
  margin: auto 0 auto 20px;
  cursor: pointer;
}
