<div id="home-container">
  <app-promotions></app-promotions>
  <app-last-orders></app-last-orders>
  <app-filters></app-filters>
  <div class="goods-cart-promo-container">
    <div class="spare-promo-cart-container">
      <app-shopping-cart></app-shopping-cart>
      <app-promocode-field></app-promocode-field>
    </div>
    <app-goods-section></app-goods-section>
    <router-outlet></router-outlet>
    <div class="promo-cart-container">
      <app-shopping-cart></app-shopping-cart>
      <app-promocode-field></app-promocode-field>
    </div>
    <app-goods-section></app-goods-section>
  </div>
</div>
