<div class="product">
    <img src="{{product.picture}}" alt="image image" width="76px" height="76px">
    <button class="cross" (click)="removeProduct()"></button>
    <div class="container-description">
        <p class="product-name" title="{{product.name}}">{{product.getShortName(17, '..')}}</p>
        <p class="description" title="{{product.description}}">{{product.getShortDescription(18, '..')}}</p>
        <div class="count-control">
            <button class="minus" (click)="minusOne()">-</button>
            <p class="count">{{product.amount}}</p>
            <button class="plus" (click)="plusOne()">+</button>
            <p class="this-products-price">{{product.totalCost}}₽</p>
        </div>
    </div>
</div>
