nav a {
  display: inline-block;
  margin: 0 31px 0 0;
  padding: 19px 0 19px 0;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

nav a:last-child {
  margin-right: 0;
}

nav a:hover {
  color: #43AA72;
}

nav a:active {
  color: #2A8955;
}
