@media (min-width: 1021px) {
}

@media (min-width: 850px) and (max-width: 1020px) {
  .filter-container .filter-button:last-child {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 688px) and (max-width: 849px) {
  .filter-container .filter-button:nth-child(5) {
    margin-left: 30%;
  }
}

@media (min-width: 623px) and (max-width: 687px) {
  .filter-container .filter-button:nth-child(4) {
    margin-left: 5%;
  }
}

@media (min-width: 576px) and (max-width: 622px) {
  .filter-container .filter-button:nth-child(4) {
    margin-left: 0;
  }

  .filter-container .filter-button:last-child {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  p {
    margin-right: 10%!important;
  }

  .filter-container .filter-button:nth-child(4) {
    margin-left: 15%;
  }

  .filter-container .filter-button:last-child {
    margin-left: 35%;
  }
}

.container {
  display: flex;
  margin: 40px 0 68px 0;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
}

p, .filter-button-name {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}

p {
  color: #8F8F8F;
  margin: auto 53px 19px 0;
}

.filter-button-name {
  color: #5C434D;
}

.filter-button {
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #C5BABE;
  border-radius: 9999px;
  padding: 8px 30px 8px 31px;
  margin: 0 20px 10px 0;
}

.filter-button:hover {
  background: #E7DEE1;
}

.filter-button:active {
  background: #C5BABE;
}

.sort-button {
  margin: 9px 0 20px 20px;
  cursor: pointer;
  align-self: start;
}
