<footer>
  <div class="container">
    <ul class="navigation">
      <li><a href="#">О нас</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Акции</a></li>
    </ul>
    <ul class="social-networks">
      <li><a href="#"><img src="../../../assets/img/vk.png" alt="vk-icon" width="30px" height="30px"></a></li>
      <li><a href="#"><img src="../../../assets/img/odnoklassniki.png" alt="classmates-icon" width="30px" height="30px"></a></li>
    </ul>
    <div class="franchising">
      <p>© 2023 ООО “Пять Шестых Франчайзинг”</p>
      <p>ОГРН 1111111111111, ИНН 1111111111</p>
      <p>620078, Свердловская обл., г. Екатеринбург, ул. Мира, д. 32</p>
    </div>
  </div>
</footer>
